# Node
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# Expo / RN
.expo/
.expo-shared/
web-build/
dist/
android/
ios/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Env
.env
.env.local
